<%- include('partials/head') %>

<main>
    <div class="title">
        <h1><%= title %></h1>
        <p class="sub-title">enquête</p>
    </div>

    <form action="/questions" class="form form-name">
        <label for="firstname">Voornaam:
            <input type="text" name="firstname" placeholder="John" value="<%= queries.firstname %>">
        </label>
        <br>
        <label for="lastname">Achternaam:
            <input type="text" name="lastname" placeholder="Doe" value="<%= queries.lastname %>">
        </label>
        <div class="links">
            <button type="submit">Start</button>
        </div>
    </form>
</main>

<%- include('partials/footer') %>