<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
    <div class="title">
        <h1><%= title %></h1>
    </div>
    <div class="content">
        <p>Wanneer je weer verder wilt gaan met de enquete, gebruik dan de volgende link:</p>
        <br>
        <a href="<%= url %>" class="url"><%= url %></a>
    </div>
    <div class="links">
        <a href="/" class="button button-2">Home</a>
        <a href="<%= url%>" class="button button-2">Hervatten</a>
    </div>
</main>

<%- include('partials/footer') %>